<form [formGroup]="form" (submit)="saveChange()">
    <mat-form-field appearance="outline">
        <mat-label>Name*</mat-label>
        <input formControlName="name" matInput>
        <mat-error>The name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Date of birth</mat-label>
        <input formControlName="dateOfBirth" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <h4>Picture profile</h4>
    <app-input-img (onImageSelected)="onImageSelected($event)" [urlCurrentImage]="model?.picture"></app-input-img>

    <h4>Biography</h4>
    <app-input-markdown (changeMarkdown)="changeMarkdown($event)"
        [markdownContent]="model?.biography"
    ></app-input-markdown>

    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            Save Changes
        </button>
        <a mat-stroked-button routerLink="/actors">Cancel</a>
    </div>

</form>